@font-face {
  font-family: Roboto;
  src: url(Roboto-Medium.ttf)
}

.App {
  display: grid;
  background-color: #FFF;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 300px 1fr;
  min-height: 100%;
  height: 100vh;
  -webkit-app-region: drag;
  text-align: center;
  font-family: Roboto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Overlaystyle {
  position: 'absolute';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background: 'rgba(0,0,0,0.5)';
  text-align: 'center';
  color: '#fff';
}

.user-settings {
  padding: 5px;
}

.inprogress {
  background: #e5e5e5;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

.selectmusic {
  display: grid;
  justify-items: stretch;
  text-align: left;
}

.selectmusicitem {

}

.directory {
  text-align: left;
} 

.selectdefault {
  display: grid;
  justify-items: stretch;
  text-align: left;
}

.submissionfield {
  height: 20px;
  width: 100%;
  font-size: 14px;
}

.clearlist {
  float: right;
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
  height: inherit;
  max-height: 350px;
  padding: 0px 10px 0px 0px;
}

.progress {
  width: 80%;
}

.main-header {
}

.sub-header {
  padding: 8px 0px 0px 0px;
}

.header {
}

.musicfile {
  text-align: left;
  width: 90%;
}

/*div {
  border-style: dashed;
  border-color: #000000;
}*/

button:focus {
  outline: 0;
}

button  :hover {
}

button {
  border-color: #4CAF50;
  background-color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #000000;
  border-radius: 6px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}